<section id="projects">
<div class="container">
  <h3>projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h3>Work <span class="small">and fun</span></h3>
    <h5>
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://itunes.apple.com/de/app/welt-news-aktuelle-nachrichten/id340021100?mt=8">Welt News</a></strong> <span>© Axel-Springer SE</span>
			<div><i class="fa fa-caret-right"></i>&nbsp; Get the latest news of <a href="http://www.welt.de/">Welt.de</a> directly in your iOS device.</div>
		</h5>
		<h5>
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://itunes.apple.com/de/app/welt-edition-digitale-zeitung/id372746348">Welt Edition</a></strong> <span>© Axel-Springer SE</span>
			<div><i class="fa fa-caret-right"></i>&nbsp; Winner of several international awards. Get daily issues of  <a href="http://www.welt.de/">Die Welt</a> right into your iOS device. Just like the printed newspaper but on a smartphone.</div>
		</h5>
    <h5>
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://itunes.apple.com/de/app/famila-nordost/id688237807">famila Nordost</a> & <a href="https://itunes.apple.com/de/app/monte-pay/id504648323?mt=8">Monte Pay</a></strong> <span>© SMARD Transactions GmbH & Co. KG</span>
			<div><i class="fa fa-caret-right"></i>&nbsp; Offline mobile payment system for mobile devices. An internet connection is only required during the activation process.</div>
		</h5>
    <h5>
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://itunes.apple.com/es/app/lemongrass/id929122452">Lemongrass</a></strong> <span>© Lemongrass España</span>
			<div><i class="fa fa-caret-right"></i>&nbsp; Order food right from your phone at <a href="http://www.lemongrass.es/">Lemongrass</a>, a fast food asian restaurant.
			Users can either order home or to pick up at the restaurant. Also done during my time at <a href="http://greengrowapps.com/">Green Grow Apps</a>.</div>
		</h5>
    <h5>
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://itunes.apple.com/us/app/mobincube-hacer-aplicaciones/id632056416">Mobincube</a></strong> <span>© Mobimento Mobile S.L.</span>
			<div><i class="fa fa-caret-right"></i>&nbsp; This great product allows people without technical knowledge to create
			native mobile applications. I developed this app using the technology we built for iOS so users could test their applications on a real device. It happened during my
			 time at <a href="http://www.mobincube.com/">Mobincube</a>.</div>
		</h5>
    <h5>
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://itunes.apple.com/es/app/wepark/id790203978">WePark</a></strong> <span>© Mobimento Mobile S.L.</span>
			<div><i class="fa fa-caret-right"></i>&nbsp; Parking spaces detection by analyzing live video feeds. The project was sponsored by the Industry, Energy and Tourism Ministry of Spain. I was entrusted with the development of the iOS App.</div>
		</h5>
		<h5>
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://itunes.apple.com/us/app/metro-valencia-offline/id643894153">Metro Valencia Offline</a></strong> <span>© Green Grow Apps S.C.</span>
			<div><i class="fa fa-caret-right"></i>&nbsp; Schedule of the metro from Valencia. The App works 100% offline. I helped building the
			interface, offline mapping and workflow on version 1.0. It happened during my time at <a href="http://greengrowapps.com/">Green Grow Apps</a>.</div>
		</h5>

		<br/>

		<h3>Fun</h3>
		<h5>
			<i class="fa fa-safari"></i>&nbsp;&nbsp;<strong><a href="https://www.swifttalking.com/">www.swifttalking.com</a></strong>
			<div><i class="fa fa-caret-right"></i>&nbsp; Swift Talking is a blog updated every two weeks about Swift, tooling, Continuous Integration and other stuff written by Alex Salom.</div>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/crvshlab/capa">Capa</a></strong>
			<div><i class="fa fa-caret-right"></i>&nbsp; Record animated GIFs (and videos) from the iOS Simulator and the Android Emulator.</div>
		</h5>
		<h5>
			<i class="fa fa-apple"></i>&nbsp;&nbsp;<strong><a href="https://itunes.apple.com/us/app/bici-valencia-valenbisi/id520953827">Valencia Bikes</a> & <a href="https://itunes.apple.com/us/app/sevilla-bikes-sevici/id668684162">Sevilla Bikes</a></strong>
			<div><i class="fa fa-caret-right"></i>&nbsp; Because of my passion for bicycles and the love for my hometown I had to develop this App for iOS
			where users of <a href="http://www.valenbisi.com/">Valenbisi</a> and <a href="http://en.sevici.es/">Sivici</a> can find real time information
			of the network status: where are the stations and what is their availability.</div>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/asalom/NSUserDefaults-Cache">NSUserDefaults+Cache</a></strong>
			<div><i class="fa fa-caret-right"></i>&nbsp; NSUserDefaults category one liner that also includes a memory cache so we only need to access disk once per item.</div>
		</h5>
    </div>
  </div>
</div>
</section>
